.vfb-checkboxes, .vfb-radios {
    list-style: none;
    padding: 0;
    margin: 0;
}

.vfb-checkboxes li, .vfb-radios li {
    align-items: center;
    display: flex;
    gap: .4em;
}

.vfb-checkboxes label, .vfb-radios label {
    margin: 0 !important;
}

.vfb-checkboxes.is-invalid,
.vfb-radios.is-invalid
{
    color: #dc3545
}