.vfb-checkbox,
.vfb-radio {
    height: 2em;
    width: 1em;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: .5em;
    margin-top: 0.25em;
}

/* fix style of bootstrap */
.form-group.vfb-group-checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.form-group.vfb-group-checkbox .vfb-feedback {
    width: 1px;
    white-space: nowrap;
    overflow: visible;
}

.vfb-group-checkbox > label {
    margin-bottom: 0 !important;
}
