.vfb-group {
    margin-bottom: 1rem;
}

.vfb-group:last-child {
    margin-bottom: 0;
}

.vfb-group label {
    display: inline-block;
    margin-bottom: 0.5rem;
    line-height: 2;
}

.vfb-group-checkbox label + * {
    display: inline;
    float: left;
}

div.vfb-group > label, div.form-group > label {
    display: inline-block !important;
}
