.vfb-group {
    margin-bottom: 1rem;
}

.vfb-group label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.vfb-group-checkbox label + * {
    display: inline;
    float: left;
}
.vfb-group-checkbox .vfb-feedback {
    position: absolute;
}

div.vfb-group > label, div.form-group > label {
    display: inline-block !important;
}
